<html ng-app="altflo">
	<head>
		<title>Altflo | Task</title>
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	</head>
	<body>

		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<h1>Altflo Task</h1>
			</div><!--/.navbar-header-->
		</nav>

		<div class="panel panel-default" ng-controller="textController">
			<div class="panel-body">
				<form class="form-inline" role="form">
					<div class="form-group" id="editBox" ng-if="showEditBox">
						
						<input type="text" placeholder="Company name" ng-model="companyName" class="form-control" ng-keypress="($event.which==13)?saveValue(companyName):0" id="textBox" ng-value="text">	
						
						<button type="button" class="btn btn-primary" ng-click="saveValue(companyName)" ng-model="checked">
							<i class="fa fa-check"></i>
						</button>
						
						<button type="button" class="btn btn-danger" ng-click='revertValue()' id="closeButton" ng-if="showCloseButton">
							<i class='fa fa-close'></i>
						</button>
					</div><!--/.form-group-->
				</form>
				
				<div id="resultBox">
					<p id="result" ng-if="showResultBox">
						{{text}} <button type="button" class="btn btn-success" ng-click='editText()'><i class='fa fa-pencil'></i></button>
					</p>	
				</div><!--/#resultBox-->
			</div><!--/.panel-body-->
		</div><!--/.panel-->
		
		<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
		<script type="text/javascript" src="assets/js/app.js"></script>

	</body>
</html>